In [1]:
import json
import pymongo
import pandas as pd
pymongo.MongoClient

#code to remove $ from file as this parameter causes issues when inserting into mongodb
with open("nyt2.json", errors='ignore') as fileOpener:
    file_data=fileOpener.read()

file_data=file_data.replace("$","")
#writing to a new file

with open("movies_data_short_corrected.json","w+" ) as fileWriter:
    fileWriter.write(file_data)

#inserting data into MongoDb
client = pymongo.MongoClient(host="localhost", port=27017)
db = client.Mylib
collection = db.books
data = pd.DataFrame(list(collection.find()))
#print(file_data)
data = [json.loads(line) for line in open("movies_data_short_corrected.json", 'r')]
#print(data)
for row in data:
    x = collection.insert_one(row)
      
print('Data inserted sucessfully')

Data inserted sucessfully

In [2]:
import pymongo
import pandas as pd
from pymongo import MongoClient
client = MongoClient(host="localhost", port=27017)
db = client.Mylib
collection = db.books
data = pd.DataFrame(list(collection.find()))
data.head()

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'oid': '5b4aa4ead3089013507db18b'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'numberInt': '27'},Bantam,ODD HOURS,{'numberInt': '1'},{'numberInt': '0'},{'numberInt': '1'}
1,{'oid': '5b4aa4ead3089013507db18c'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'numberDouble': '25.99'},"Little, Brown",THE HOST,{'numberInt': '2'},{'numberInt': '1'},{'numberInt': '3'}
2,{'oid': '5b4aa4ead3089013507db18d'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'numberInt': '3'},{'numberInt': '2'},{'numberInt': '2'}
3,{'oid': '5b4aa4ead3089013507db18e'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'numberDouble': '22.95'},Putnam,THE FRONT,{'numberInt': '4'},{'numberInt': '0'},{'numberInt': '1'}
4,{'oid': '5b4aa4ead3089013507db18f'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'numberDouble': '24.95'},Doubleday,SNUFF,{'numberInt': '5'},{'numberInt': '0'},{'numberInt': '1'}

In [3]:

data

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'oid': '5b4aa4ead3089013507db18b'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'numberInt': '27'},Bantam,ODD HOURS,{'numberInt': '1'},{'numberInt': '0'},{'numberInt': '1'}
1,{'oid': '5b4aa4ead3089013507db18c'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'numberDouble': '25.99'},"Little, Brown",THE HOST,{'numberInt': '2'},{'numberInt': '1'},{'numberInt': '3'}
2,{'oid': '5b4aa4ead3089013507db18d'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'numberInt': '3'},{'numberInt': '2'},{'numberInt': '2'}
3,{'oid': '5b4aa4ead3089013507db18e'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'numberDouble': '22.95'},Putnam,THE FRONT,{'numberInt': '4'},{'numberInt': '0'},{'numberInt': '1'}
4,{'oid': '5b4aa4ead3089013507db18f'},{'date': {'numberLong': '1211587200000'}},{'date': {'numberLong': '1212883200000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'numberDouble': '24.95'},Doubleday,SNUFF,{'numberInt': '5'},{'numberInt': '0'},{'numberInt': '1'}
...,...,...,...,...,...,...,...,...,...,...,...,...
10190,{'oid': '5b4aa4ead3089013507dd959'},{'date': {'numberLong': '1530921600000'}},{'date': {'numberLong': '1532217600000'}},https://www.amazon.com/Clancy-Line-Sight-Jack-...,Mike Maden,Jack Ryan Jr. risks his life to protect a woma...,{'numberInt': '0'},Putnam,TOM CLANCY LINE OF SIGHT,{'numberInt': '11'},{'numberInt': '6'},{'numberInt': '4'}
10191,{'oid': '5b4aa4ead3089013507dd95a'},{'date': {'numberLong': '1530921600000'}},{'date': {'numberLong': '1532217600000'}},https://www.amazon.com/Something-Water-Novel-C...,Catherine Steadman,A documentary filmmaker and an investment bank...,{'numberInt': '0'},Ballantine,SOMETHING IN THE WATER,{'numberInt': '12'},{'numberInt': '11'},{'numberInt': '5'}
10192,{'oid': '5b4aa4ead3089013507dd95b'},{'date': {'numberLong': '1530921600000'}},{'date': {'numberLong': '1532217600000'}},https://www.amazon.com/Little-Fires-Everywhere...,Celeste Ng,An artist upends a quiet town outside Cleveland.,{'numberInt': '0'},Penguin Press,LITTLE FIRES EVERYWHERE,{'numberInt': '13'},{'numberInt': '12'},{'numberInt': '41'}
10193,{'oid': '5b4aa4ead3089013507dd95c'},{'date': {'numberLong': '1530921600000'}},{'date': {'numberLong': '1532217600000'}},https://www.amazon.com/Shelter-Place-Nora-Robe...,Nora Roberts,Survivors of a mass shooting outside a mall in...,{'numberInt': '0'},St. Martin's,SHELTER IN PLACE,{'numberInt': '14'},{'numberInt': '5'},{'numberInt': '6'}
10194,{'oid': '5b4aa4ead3089013507dd95d'},{'date': {'numberLong': '1530921600000'}},{'date': {'numberLong': '1532217600000'}},https://www.amazon.com/Last-Time-Lied-Novel/dp...,Riley Sager,A painter is in danger when she returns to the...,{'numberInt': '0'},Dutton,THE LAST TIME I LIED,{'numberInt': '15'},{'numberInt': '0'},{'numberInt': '1'}

In [4]:
import pandas as pd
import re
import string
string.ascii_lowercase
import datetime

In [5]:
data = pd.read_json('C:/Users/Javed Mohammed/Downloads/nyt2.json', lines=True, orient='columns')
data.head()

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'$oid': '5b4aa4ead3089013507db18b'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},Bantam,ODD HOURS,{'$numberInt': '1'},{'$numberInt': '0'},{'$numberInt': '1'}
1,{'$oid': '5b4aa4ead3089013507db18c'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,{'$numberInt': '2'},{'$numberInt': '1'},{'$numberInt': '3'}
2,{'$oid': '5b4aa4ead3089013507db18d'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'$numberInt': '3'},{'$numberInt': '2'},{'$numberInt': '2'}
3,{'$oid': '5b4aa4ead3089013507db18e'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},Putnam,THE FRONT,{'$numberInt': '4'},{'$numberInt': '0'},{'$numberInt': '1'}
4,{'$oid': '5b4aa4ead3089013507db18f'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},Doubleday,SNUFF,{'$numberInt': '5'},{'$numberInt': '0'},{'$numberInt': '1'}

In [6]:
data=data.drop(['_id'], axis=1)

In [7]:
data=data.drop(['bestsellers_date'], axis=1)

In [8]:
data=data.drop(['amazon_product_url'], axis=1)

In [9]:
data

,published_date,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'$date': {'$numberLong': '1212883200000'}},Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},Bantam,ODD HOURS,{'$numberInt': '1'},{'$numberInt': '0'},{'$numberInt': '1'}
1,{'$date': {'$numberLong': '1212883200000'}},Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,{'$numberInt': '2'},{'$numberInt': '1'},{'$numberInt': '3'}
2,{'$date': {'$numberLong': '1212883200000'}},Emily Giffin,A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'$numberInt': '3'},{'$numberInt': '2'},{'$numberInt': '2'}
3,{'$date': {'$numberLong': '1212883200000'}},Patricia Cornwell,A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},Putnam,THE FRONT,{'$numberInt': '4'},{'$numberInt': '0'},{'$numberInt': '1'}
4,{'$date': {'$numberLong': '1212883200000'}},Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},Doubleday,SNUFF,{'$numberInt': '5'},{'$numberInt': '0'},{'$numberInt': '1'}
...,...,...,...,...,...,...,...,...,...
10190,{'$date': {'$numberLong': '1532217600000'}},Mike Maden,Jack Ryan Jr. risks his life to protect a woma...,{'$numberInt': '0'},Putnam,TOM CLANCY LINE OF SIGHT,{'$numberInt': '11'},{'$numberInt': '6'},{'$numberInt': '4'}
10191,{'$date': {'$numberLong': '1532217600000'}},Catherine Steadman,A documentary filmmaker and an investment bank...,{'$numberInt': '0'},Ballantine,SOMETHING IN THE WATER,{'$numberInt': '12'},{'$numberInt': '11'},{'$numberInt': '5'}
10192,{'$date': {'$numberLong': '1532217600000'}},Celeste Ng,An artist upends a quiet town outside Cleveland.,{'$numberInt': '0'},Penguin Press,LITTLE FIRES EVERYWHERE,{'$numberInt': '13'},{'$numberInt': '12'},{'$numberInt': '41'}
10193,{'$date': {'$numberLong': '1532217600000'}},Nora Roberts,Survivors of a mass shooting outside a mall in...,{'$numberInt': '0'},St. Martin's,SHELTER IN PLACE,{'$numberInt': '14'},{'$numberInt': '5'},{'$numberInt': '6'}
10194,{'$date': {'$numberLong': '1532217600000'}},Riley Sager,A painter is in danger when she returns to the...,{'$numberInt': '0'},Dutton,THE LAST TIME I LIED,{'$numberInt': '15'},{'$numberInt': '0'},{'$numberInt': '1'}

In [10]:
import re
regex = re.compile('[^a-z0-9]')

#convert string to lowercase and replace all non alphanumeric characters
def set_lc_values(col_name):
    new_values = []
    for values in raw_books[col_name]:
        new_values.append(regex.sub('', values.lower()))

    return new_values



def flatten_json(y):
    # extract values from json string in dataframe
    
    out = {}
    ret_val = '-'
    
    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        elif type(x) is str:
            out[name[:-1]] = x


    flatten(y)

    if type(out) is dict:
        for v in out:
            ret_val = out[v]
    
    return ret_val

In [11]:
from string import ascii_lowercase
from datetime import datetime
for i in range(len(data)):
    data.loc[i]["price"] = flatten_json(data.loc[i]["price"])
    data.loc[i]["published_date"] = datetime.fromtimestamp(int(flatten_json(data.loc[i]["published_date"])[:10])).strftime('%Y-%m-%d')
    data.loc[i]["rank"] = flatten_json(data.loc[i]["rank"])
    data.loc[i]["rank_last_week"] = flatten_json(data.loc[i]["rank_last_week"])
    data.loc[i]["title"] = flatten_json(data.loc[i]["title"]) 
    data.loc[i]["weeks_on_list"] = flatten_json(data.loc[i]["weeks_on_list"])     
    
data.head()

,published_date,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,2008-06-08,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",27,Bantam,ODD HOURS,1,0,1
1,2008-06-08,Stephenie Meyer,Aliens have taken control of the minds and bod...,25.99,"Little, Brown",THE HOST,2,1,3
2,2008-06-08,Emily Giffin,A woman's happy marriage is shaken when she en...,24.95,St. Martin's,LOVE THE ONE YOU'RE WITH,3,2,2
3,2008-06-08,Patricia Cornwell,A Massachusetts state investigator and his tea...,22.95,Putnam,THE FRONT,4,0,1
4,2008-06-08,Chuck Palahniuk,An aging porn queens aims to cap her career by...,24.95,Doubleday,SNUFF,5,0,1

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10195 entries, 0 to 10194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   published_date  10195 non-null  object
 1   author          10195 non-null  object
 2   description     10195 non-null  object
 3   price           10195 non-null  object
 4   publisher       10195 non-null  object
 5   title           10195 non-null  object
 6   rank            10195 non-null  object
 7   rank_last_week  10195 non-null  object
 8   weeks_on_list   10195 non-null  object
dtypes: object(9)
memory usage: 717.0+ KB

In [16]:
!pip install psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@dbinstance.cqxhwouf8ikq.eu-west-1.rds.amazonaws.com:3011/db_DAP')
data.to_sql('data', engine)

Requirement already satisfied: psycopg2 in c:\users\javed mohammed\anaconda3\lib\site-packages (2.8.6)

In [13]:
data['published_date'] = pd.to_datetime(data['published_date'])

In [14]:
data['published_date'] = data.published_date.dt.year

In [15]:
data

,published_date,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,2008,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",27,Bantam,ODD HOURS,1,0,1
1,2008,Stephenie Meyer,Aliens have taken control of the minds and bod...,25.99,"Little, Brown",THE HOST,2,1,3
2,2008,Emily Giffin,A woman's happy marriage is shaken when she en...,24.95,St. Martin's,LOVE THE ONE YOU'RE WITH,3,2,2
3,2008,Patricia Cornwell,A Massachusetts state investigator and his tea...,22.95,Putnam,THE FRONT,4,0,1
4,2008,Chuck Palahniuk,An aging porn queens aims to cap her career by...,24.95,Doubleday,SNUFF,5,0,1
...,...,...,...,...,...,...,...,...,...
10190,2018,Mike Maden,Jack Ryan Jr. risks his life to protect a woma...,0,Putnam,TOM CLANCY LINE OF SIGHT,11,6,4
10191,2018,Catherine Steadman,A documentary filmmaker and an investment bank...,0,Ballantine,SOMETHING IN THE WATER,12,11,5
10192,2018,Celeste Ng,An artist upends a quiet town outside Cleveland.,0,Penguin Press,LITTLE FIRES EVERYWHERE,13,12,41
10193,2018,Nora Roberts,Survivors of a mass shooting outside a mall in...,0,St. Martin's,SHELTER IN PLACE,14,5,6
10194,2018,Riley Sager,A painter is in danger when she returns to the...,0,Dutton,THE LAST TIME I LIED,15,0,1